# App
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Database (MongoDB Atlas)
MONGODB_URI=

# Auth
JWT_SECRET=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Contato
NEXT_PUBLIC_WHATSAPP_NUMBER=

# Analytics
NEXT_PUBLIC_GA_MEASUREMENT_ID=
